<p>
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Notas</span>
      <span class="example-spacer"></span>
      <button (click)="goToMaterias()" mat-icon-button class="example-icon favorite-icon" style="padding-left: 10px; padding-right: 10px;" aria-label="Example icon-button with heart icon">
        Materias
      </button>
      <!-- <button mat-icon-button class="example-icon" style="padding-left: 10px; padding-right: 10px;" aria-label="Example icon-button with share icon">
        Estudiantes
      </button> -->
    </mat-toolbar>
  </p>